<div class="container-fluid">
  <div class="row">
    <!--<div class="col-md-1">-->
      <!--Sidebar content-->

    <!--  Movies-->

    <!--</div>-->
    
    <div class="col-md-11">
      <!--Body content-->

      <div ng-controller="MovieListCtrl">
        <div ui-grid="gridOptions" external-scopes="gridScope" ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-pinning ui-grid-move-columns class="moviesGrid"></div>
      </div>

    </div>
  </div>
</div>
