<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notifications</title>
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/infinite-scroll@3.0.6/dist/infinite-scroll.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <style>
        .notification {
            font-family: Tahoma, Roboto, sans-serif;
        }
        .gap {
            padding-left: 10px;
        }
    </style>
  </head>
  <body>
    <div id="app">
        <div class="container">
            <p class="notification" v-for="notification in notifications">
                <span>{{ notification.createdAt | formatDateTime }}</span>
                <span v-if="notification.hasGap" class="gap">{{ notification.sourceTimestamp | formatTime }}</span>
                <span v-if="notification.hasGap" class="gap">{{ notification.gap | number('0,0') }} sec</span>
            </p>
        </div>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                notifications: []
            },
            methods: {
                addNotification: function (notification) {
                    const gapThreshold = 15000;
                    notification.createdAt = new Date(notification.createdAt);
                    notification.sourceTimestamp = notification.sourceTimestamp ? new Date(notification.sourceTimestamp) : null;
                    let gap = notification.sourceTimestamp ? notification.createdAt.getTime() - notification.sourceTimestamp.getTime() : null;
                    notification.hasGap = gap && gap > gapThreshold;
                    notification.gap = gap / 1000;
                    this.notifications.push(notification);
                },
                getInitialNotifications: async function () {
                    const response = await axios.get('/api/notifications');
                    response.data.forEach(notification => this.addNotification(notification));
                }
            },
            beforeMount: async function () {
                try {
                    await this.getInitialNotifications();
                } catch (error) {
                    console.log(error.stack);
                }
            },
            filters: {
                formatDateTime: function (value) {
                    return (value instanceof Date) ? value.toLocaleString() : '';
                },
                formatTime: function (value) {
                    return (value instanceof Date) ? value.toLocaleTimeString() : '';
                }
            }
        });

        const infiniteScroll = new InfiniteScroll('.container', {
            path: function () {
                const notifications = app.notifications;
                if (notifications && notifications.length) {
                    const lastObjectId = notifications[notifications.length - 1]._id;
                    return `/api/notifications?lastObjectId=${lastObjectId}`;
                }
                return '/api/notifications';
            },
            responseType: 'text',
            append: false,
            history: false
        });
        infiniteScroll.on('load', function(response) {
            const notifications = JSON.parse(response);
            notifications.forEach(notification => app.addNotification(notification));
        });
        </script>
  </body>
</html>