.paging-button {
  visibility: hidden;
}

.button-container {
  clear: both;
}

#video-container {
	font-family: 'Roboto';
	font-size: 14px;
}

table {
	border-collapse:collapse;
	table-layout:fixed;
}

table td {
	max-width:320px;
	word-wrap:break-word;
}
	
.channelTitle {
	font-size: 24px;
}

.toolbar {
	padding-left: 1.25em;
}

.tool {
	padding-left: .5em;
}

.videos {
	width: 100%;
	overflow: auto;
	margin-bottom: 1em;
}

.vid-duration {
	margin-left: 6px;
}

.metadata {
	font-family: 'Segoe UI';
	font-size: 12px;
}

.notification {
	font-family: 'Roboto';
	font-size: 12px;
}

a:link {
	color: black;
}

a:visited {
	color: #30343a;
}

a:active {
	color: #34537f;
}

#addVideo {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

#videoIdLabel {
	display: inline;
}

#searchVideoIcon {
	margin-left: 8px;
}

#playlistChooser {
    position: fixed;
    top: 3px;
    right: 6px;
}

label, input { display:block; }
.textField { margin-bottom: 12px; width: 95%; padding: .4em; }
fieldset { padding: 0; border: 0; margin-top: 25px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; margin-top: 8px; margin-bottom: 8px; }
